.header{
    /* height: 50px; */
    /* padding: 1rem; */
    display: flex;
    /* justify-content: space-between; */
    /* border-bottom: 1px solid #ffffff26; */
}

.app-menu{
    color: white;
    height: 100vh;
    width: 20rem;
    background-color: #111;
    z-index: 200;
    transform: translateX(-100%);
    transition: 0.3s;
    position: fixed;
    left: 0;
    top:0;
    display: flex;
    justify-content: center;
}

.menu-open{
    transform: translateX(0%);
}