* {
  box-sizing: border-box;
  color: #aaa;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1300px;
  }
}

@media (max-width: 1024px) {
  .flex-column {
    padding: 0px !important;
    border: 0px !important;
  }
  #menuItemNameDiv , #newsDiv {
    display: none;
  }
  .header {
    border-bottom: 0px !important;
  }
}

.flex-column {
  border: 1px solid #222;
  border-radius: 8px;
  padding: 15px 15px 0;
}

/**/

.container-left .list-group-item {
  background-color: #0e0e0e;
  font-size: 18px;
  border: none;
  color: rgb(175, 175, 175);
}
.list-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.Ch {
  height: 100%;
  overflow: hidden;
  transition: height 0.4s;
  padding: 0;
  margin: 0;
}

.exploreMenuList img {
  width: 20px;
  min-width: 20px;
  height: 100%;
}
