.game_card_time {
  font-size: 11px;
}
.gameCard {
  background: rgb(24, 24, 24);
  padding: 9px 12px 9px 12px;
  border-radius: 7.5px;
  align-items: center;
}

.gameCard:hover {
  background: #333333;
}

.soccerGameCard {
  display: flex;
  justify-content: space-between;
}
.header__stage {
  display: flex;
  width: 100%;
  font-size: 11px;
  font-weight: 700;
}
.header__stage__headers {
  display: flex;
  flex-direction: column;
}
.category-header__stage {
  color: #fdfdfd;
  font-weight: 700;
  font-size: 14px;
}
.category-header__category {
  font-size: 11px;
  color: #aaa;
  font-weight: 500;
}
