.score {
    height: fit-content;
    background-color: #141414c5;
    border-radius: 10px;
    justify-content: space-between;
}

.score .team-one, .team-two {
    width: 30%;
    height: fit-content;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 15px 20px;
}

.score .team-one img,.score .team-two img
{
width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff;
}



.score .points-card {
    width: 40%;
    align-items: center;
    text-align: center;
    justify-content: center;
}


.pre-match-points a
{
    font-size: 24px;
    font-family: 'Metropolis Medium';
    
    
}
.pre-match-points
{
    align-items: center;
    
}
.points a {
    font-size: 38px;
    font-family: 'Metropolis Medium';
    margin: 0px 8px 0px 8px;
}


.pre-match-info .team-name
{
    width: 40%;
    
    
}

.pre-match-info #team1
{
    text-align: right;
    padding-right:25px ;
}
.pre-match-info #team2
{
    text-align: left;
    padding-left:25px ;
}

.pre-match-info .points a {
    font-size: 18px;
    font-family: 'Metropolis Medium';
    
}

.match-history
{
    margin-top: 5px;
}


.pre-match-info-container
{
    height: 100px;
    width: 100%;
    
    margin-left: 65px;
    
}